[buildout]
parts = test zodb zdaemon server
develop = .
find-links = http://download.zope.org/distribution

[test]
recipe = zc.recipe.testrunner
eggs = zc.zodbrecipes [test]

[zodb]
recipe = zc.recipe.egg:script
eggs = ZODB3
interpreter = py

[zdaemon]
recipe = zc.recipe.egg:script
eggs = zdaemon

[server]
recipe = zc.zodbrecipes:server
zeo.conf =
  <zeo>
    address 8100
  </zeo>
  <filestorage 1>
     path ${buildout:parts-directory}/Data.fs
  </filestorage>
shell-script = true
